<div class="row" class="animated fadeIn m-5">
  <div class="col">
    <input #termino type="text" class="form-control" placeholder="buscar artista"
           (keyup)="buscar(termino.value)">
  </div>
</div>

<app-loading *ngIf="loading" class="m-5"></app-loading>

<app-tarjetas [items]="artists" class="animated fadeIn"></app-tarjetas>

