<h1 class="animated fadeIn">{{heroe.nombre | uppercase}} <small>({{heroe.aparicion | date: 'yyyy'}})</small></h1>

<hr>

<div class="row animated fadeIn">
  <div class="col-md-4">
    <img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre">
    <br><br>
    <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>
  </div>
  <div class="col-md-8">
    <h3>{{heroe.nombre}}</h3>
    <hr>
    <p [style.text-align]="'justify'">{{heroe.bio}}</p>
    <div>
      <img class="img-logo" src="assets/img/{{heroe.casa}}.png" alt="">
    </div>
  </div>
</div>
