<h1>Pipes <small>Angular</small></h1>
<hr>
<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th>Variable</th>
        <th>Pipe</th>
        <th>Salida</th>
      </tr>
      </thead>
      <tbody>

      <tr>
        <td>{{nombreCompleto}}</td>
        <td>capitalizado</td>
        <td>{{nombreCompleto | capitalizado}}</td>
      </tr>

      <tr>
        <td>{{nombreCompleto}}</td>
        <td>capitalizado: false</td>
        <td>{{nombreCompleto | capitalizado: false}}</td>
      </tr>

      <tr>
        <td>{{nombre}}</td>
        <td>uppercase</td>
        <td>{{nombre | uppercase}}</td>
      </tr>

      <tr>
        <td>{{nombre}}</td>
        <td>lowercase</td>
        <td>{{nombre | lowercase}}</td>
      </tr>

      <tr>
        <td>{{nombre}}</td>
        <td>slice:3</td>
        <td>{{nombre | slice:3}}</td>
      </tr>

      <tr>
        <td>{{nombre}}</td>
        <td>slice:0:3</td>
        <td>{{nombre | slice:0:3}}</td>
      </tr>

      <tr>
        <td>{{arreglo}}</td>
        <td>slice:1:5</td>
        <td>{{arreglo | slice:1:5}}</td>
      </tr>

      <tr>
        <td>{{PI}}</td>
        <td>number: '3.0-0'</td>
        <td>{{PI | number: '3.0-0'}}</td>
      </tr>

      <tr>
        <td>{{PI}}</td>
        <td>number: '.0-2'</td>
        <td>{{PI | number: '.0-2'}}</td>
      </tr>

      <tr>
        <td>{{porcentaje}}</td>
        <td>percent</td>
        <td>{{porcentaje | percent}}</td>
      </tr>

      <tr>
        <td>{{porcentaje}}</td>
        <td>percent:'2.2-2'</td>
        <td>{{porcentaje | percent:'2.2-2'}}</td>
      </tr>

      <tr>
        <td>{{salario}}</td>
        <td>currency</td>
        <td>{{salario | currency}}</td>
      </tr>

      <tr>
        <td>{{salario}}</td>
        <td>currency:'EUR'</td>
        <td>{{salario | currency:'EUR'}}</td>
      </tr>

      <tr>
        <td>{{salario}}</td>
        <td>currency:'CAD':'symbol'</td>
        <td>{{salario | currency:'CAD':'symbol'}}</td>
      </tr>

      <tr>
        <td>{{salario}}</td>
        <td>currency:'UF ':'symbol-narrow':'.0-0'</td>
        <td>{{salario | currency:'UF ':'symbol-narrow':'.0-0'}}</td>
      </tr>

      <tr>
        <td>{{valorPromesa}}</td>
        <td>async</td>
        <td>{{valorPromesa | async}}</td>
      </tr>

      <tr>
        <td>{{fecha}}</td>
        <td>date</td>
        <td>{{fecha | date}}</td>
      </tr>

      <tr>
        <td>{{fecha}}</td>
        <td>date:'medium'</td>
        <td>{{fecha | date:'medium'}}</td>
      </tr>

      <tr>
        <td>{{fecha}}</td>
        <td>date:'short'</td>
        <td>{{fecha | date:'short'}}</td>
      </tr>

      <tr>
        <td>{{fecha}}</td>
        <td>date:'MMMM - dd'</td>
        <td>{{fecha | date:'MMMM - dd'}}</td>
      </tr>

      <tr>
        <td>{{fecha}}</td>
        <td>date:'MMMM - dd':'':'en'</td>
        <td>{{fecha | date:'MMMM - dd':'':'en'}}</td>
      </tr>

      <tr>
        <td>{{fecha}}</td>
        <td>date:'MMMM - dd':'':'en'</td>
        <td>{{fecha | date:'MMMM - dd':'':'fr'}}</td>
      </tr>

      <tr>
        <td>{{fecha}}</td>
        <td>
          date:'MMMM - dd':'':'{{idioma}}'
          <br>
          <button (click)="setIdioma('es')" class="btn btn-primary btn-sm mr-1">Español</button>
          <button (click)="setIdioma('en')" class="btn btn-danger btn-sm mr-1">Inglés</button>
          <button (click)="setIdioma('fr')" class="btn btn-success btn-sm mr-1">Francés</button>
        </td>
        <td>{{fecha | date:'MMMM - dd':'':idioma}}</td>
      </tr>

      <tr>
        <td>{{nombre}}</td>
        <td>Password : {{activar}}
          <br>
          <button (click)="activar=!activar" class="btn btn-outline-primary btn-sm">
            Activar/Desactivar
          </button>
        </td>
        <td>{{nombre | password:activar}}</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>

<h3>Slice <small>slice:5:20</small></h3>
<ul>
  <li *ngFor="let item of arreglo | slice:5:20">{{item}}</li>
</ul>

<h3>JSON</h3>
<hr>
<div class="row mb-5">
  <div class="col">
    <pre>{{heroe | json}}</pre>
  </div>
</div>

<h4 class="mt-4">DOM Seguro</h4>
<div class="col mb-5">
  <iframe width="560"
          height="315"
          [src]="videoUrl | domseguro"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
</div>
