<div class="card-columns animated fadeIn">
  <div *ngFor="let item of items"
       (click)="verArtista(item)"
       class="card puntero">
    <img [src]="item.images | noimage" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
      <p class="card-text">
        <span class="badge badge-primary" *ngFor="let artist of item.artists">
          {{artist.name}}
        </span>
      </p>
    </div>
  </div>
</div>
