<app-loading *ngIf="loading" class="m-5 animated fadeIn"></app-loading>

<div *ngIf="error" class="alert alert-danger animated fadeIn">
  <h3>Error</h3>
  <p>{{mensajeError}}</p>
</div>

<app-tarjetas [items]="nuevasCanciones" class="animated fadeIn"></app-tarjetas>
