<h1 class="animated fadeIn fast">Buscador : {{termino}}</h1>
<div class="row animated fadeIn fast" *ngIf="heroes.length==0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No existen resultados con el termino : {{termino}}
    </div>
  </div>
</div>
<hr>
<div class="card-columns">
  <app-heroe-tarjeta class="card animated fadeIn fast"
                     *ngFor="let h of heroes"
                     [heroe]="h" [index]="h.idx">
  </app-heroe-tarjeta>
</div>
