<h1>Heroes <small>de marvel y dc</small></h1>
<hr>
<div class="card-columns">
  <app-heroe-tarjeta class="card animated fadeIn fast"
                     *ngFor="let h of heroes; let i = index"
                     (heroeSeleccionado)="verHeroe($event)"
                     [heroe]="h" [index]="i">
  </app-heroe-tarjeta>
</div>
